@import '../_variables';
@import '../mixins';

.appwide-overlay {
  @include transition(opacity, 0.4s);
  // background-color: #088;
  background-color: #FFF;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 0;
  &.active {
    opacity: 0.8;
  }
}

.box {
  top: 30%;
  width: 100%;
  position: absolute;
  font-size: 16px;
  .inner {
    max-width: 450px;
    margin: auto;
  }
}

.buttons {
  margin-top: 15px;
  a {
    padding: 10px;
  }
  .yes {
    background: $primary-color;
    color: #FFF;
    padding: 3px 12px;
    border-radius: 3px;
  }
}

.hide-button {
  background: lighten($text-color, 10);
  color: #FFF;
  padding: 9px 11px;
  margin: 10px;
  font-size: 16px;
  border-radius: 99px;
}
