@import '../_variables';
@import '../mixins';

header {
  border-bottom: 1px #e9f1f2 solid;
  background: #FFF;
  line-height: 40px;
  padding-top: 5px;
  padding-bottom: 9px;
  z-index: 200;

  a.logo {
    color: $primary-color;
    font-size: 24px;
    font-weight: 600;
    padding-left: 30px;
    &:before {
      content: '';
      width: 22px;
      height: 35px;
      position: absolute;
      left: 15px;
      top: 3px;
    }
  }

  a {
    @include transition(color);
  }

  .router-link-active {
    color: $light-text-color;
  }

  ul {
    margin-bottom: 0;
  }

  li {
    padding-right: 20px;
  }

  span {
    opacity: 0.6;
    font-weight: bold;
    padding-right: 10px;
  }
}

ion-tabs {
  height: auto;
  position: absolute;
  bottom: 0;
  display: block;
  top: auto;
}
