@keyframes pulse {
  0% {
    opacity: 0.6; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0.6; } }

@keyframes pulseScale {
  0% {
    transform: scale(1);
    opacity: 0.8; }
  50% {
    transform: scale(0.6);
    opacity: 0.2; }
  100% {
    transform: scale(1);
    opacity: 0.9; } }

@keyframes pulse {
  0% {
    opacity: 0.6; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0.6; } }

@keyframes pulseScale {
  0% {
    transform: scale(1);
    opacity: 0.8; }
  50% {
    transform: scale(0.6);
    opacity: 0.2; }
  100% {
    transform: scale(1);
    opacity: 0.9; } }

.tooltip {
  background: #FFF !important; }

@keyframes pulse {
  0% {
    opacity: 0.6; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0.6; } }

@keyframes pulseScale {
  0% {
    transform: scale(1);
    opacity: 0.8; }
  50% {
    transform: scale(0.6);
    opacity: 0.2; }
  100% {
    transform: scale(1);
    opacity: 0.9; } }

.icon {
  background: #d3e3eb;
  border-radius: 3px;
  width: 64px;
  height: 64px;
  display: block;
  position: relative; }
  .icon:before {
    transform: scale(0.6);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    display: block; }

.icon-kitchen:before {
  background-position: -186px -55px; }

.icon-wc:before {
  background-position: -3px -55px; }

.icon-elevator:before {
  background-position: -68px -55px; }

.icon-exit:before {
  background-position: -126px -51px; }

.icon-stairs:before {
  background-position: -11px -120px; }

body {
  background: #f9fbfc;
  font-family: 'fira-sans',sans-serif;
  color: #506a78;
  display: none; }
  body.platform-core, body.platform-cordova, body.platform-mobile {
    display: block; }
  body.platform-core {
    position: relative;
    overflow: auto; }
    body.platform-core ion-app {
      position: relative;
      overflow: auto; }

button {
  overflow: hidden;
  position: relative; }

a {
  cursor: pointer;
  transition: color 0.3s ease;
  color: #3ab791; }
  a:hover {
    color: #2e9072;
    text-decoration: none; }
  a:active, a:visited, a:focus {
    color: #3ab791;
    text-decoration: none;
    outline: none; }

.animated {
  -webkit-animation-duration: 0.3s; }

header a.logo:before, marketing-index .logo:before, .icon:before {
  background-image: url(../images/sprites.png);
  background-size: 256px 256px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  header a.logo:before, marketing-index .logo:before, .icon:before {
    background-image: url(../images/sprites@2x.png); } }
