@keyframes pulse {
  0% {
    opacity: 0.6; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0.6; } }

@keyframes pulseScale {
  0% {
    transform: scale(1);
    opacity: 0.8; }
  50% {
    transform: scale(0.6);
    opacity: 0.2; }
  100% {
    transform: scale(1);
    opacity: 0.9; } }

reservation-modal .wrapper {
  position: absolute;
  margin: -60px 0 0 -60px;
  display: none; }

reservation-modal.active .wrapper {
  display: block; }

.reservation-modal .ui-timepicker-list {
  border: none;
  background: none; }

reservation-modal .booking {
  box-shadow: 0 1px 8px rgba(128, 95, 70, 0.2), 0 2px 2px rgba(12, 95, 70, 0.3);
  transition: all 0.1s ease-out;
  transform: scale(0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
  min-height: 200px;
  opacity: 0;
  background: #3ab791;
  color: #FFF;
  z-index: 2;
  padding: 8px 10px;
  border-radius: 2px;
  overflow: hidden; }
  reservation-modal .booking > * {
    transition: opacity 0.15s ease-out;
    opacity: 0; }
  reservation-modal .booking.active {
    transform: scale(1);
    opacity: 1; }
    reservation-modal .booking.active > * {
      opacity: 1; }
  reservation-modal .booking.submitting .buttons {
    animation: pulse 1s infinite; }
  reservation-modal .booking .form-element {
    padding-top: 8px; }
  reservation-modal .booking .time {
    margin-top: 10px;
    background: #319c7c;
    color: #FFF;
    padding: 3px 8px;
    border-radius: 2px; }
    reservation-modal .booking .time .fa-clock-o {
      margin-left: 1px; }
    reservation-modal .booking .time i {
      margin-right: 5px;
      opacity: 0.7; }
    reservation-modal .booking .time div {
      padding: 1px 0 0; }
  reservation-modal .booking .form {
    margin-top: 10px; }
  reservation-modal .booking textarea, reservation-modal .booking input {
    border-radius: 2px;
    border: none;
    display: block;
    outline: none;
    width: 100%;
    resize: none;
    color: #506a78;
    padding: 5px 7px;
    font-size: 15px; }
  reservation-modal .booking .max-selectbox {
    height: auto; }
  reservation-modal .booking .recurring input, reservation-modal .booking .recurring label {
    display: inline-block;
    width: auto; }
  reservation-modal .booking .ui-selectmenu-button {
    box-shadow: none;
    border: none; }
    reservation-modal .booking .ui-selectmenu-button:before {
      display: none; }
  reservation-modal .booking .ui-selectmenu-text {
    background: #FFF;
    color: #506a78;
    font-weight: normal; }
  reservation-modal .booking date-picker i {
    display: none; }
  reservation-modal .booking date-picker input {
    width: 100%; }
  reservation-modal .booking .buttons {
    margin-top: 10px;
    text-align: right; }
    reservation-modal .booking .buttons a {
      margin-left: 4px;
      text-align: center;
      padding-top: 3px;
      background: #FFF;
      border-radius: 99px;
      display: inline-block;
      width: 20px;
      height: 20px; }

@media (max-width: 768px) {
  reservation-modal .wrapper {
    z-index: 99;
    position: fixed;
    width: 100% !important;
    left: calc(50% - 118px) !important;
    right: 0 !important;
    margin: 0 0 0 0;
    top: calc(50% - 98px); } }
