@import '../_variables';
@import '../mixins';

.list-inline {
  margin-bottom: 0;
}

.floor {
  @include boxShadow();
  @include transition(opacity);
  background-color: #FFF;
  width: 100%;
  padding: 8px;
  &.active-droppable {
    background: lighten($light-text-color, 20);
  }
  &.active-dropping {
    background: lighten($light-text-color, 10);
  }
  &.loading {
    @include pulse();
  }
}


h1, .header {
  @include gradient();
  @include boxShadow();
  border-radius: 4px 4px 0 0;
  color: $text-color;
  font-weight: 600;
  display: inline-block;
  padding: 7px 10px;
  margin-bottom: 0;
  font-size: 20px;
  margin-top: 20px;
  a.button {
    font-size: 16px;
    margin-top: 0;
    margin-left: 10px;
  }
  form {
    margin-bottom: 0;
    input {
      border-radius: 3px;
      border: 1px $light-border-color solid;
      padding: 0px 5px;
      font-size: 16px;
      outline: none;
    }
    .button {
      background: none;
      margin-left: 3px;
      font-size: 15px;
    }
    button {
      border: none;
      outline: none;
      background: none;
      i {
        color: ligthen($text-color, 20);
      }
    }
  }
}

.header {
  padding: 5px 10px;
}

.inner {
  background: url(../images/bg.png);
  position: relative;
  height: 387px;
  display: block;
}
