@import '../_variables';
@import '../mixins';

.wrapper {
  position: absolute;
  display: inline-block;
  &.reserved, &.not-match {
    .room {
      opacity: 0.4;
      cursor: default;
      background-color: $text-color;
      &:hover {
        background-color: $text-color;
      }
    }
  }
  &.not-match:not(.reserved) {
    .room {
      opacity: 1;
    }
  }
  reservation-modal {
    position: relative;
  }
  &:hover {
    .reservation-popover {
      display: block;
    }
  }
}

.room {
  @include boxShadow();
  @include transition(background-color);
  padding: 8px 10px;
  border-radius: 2px;
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  min-height: 55px;
  overflow: hidden;
  position: absolute;
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background-color: darken($primary-color, 5);
  }
  .second-line {
    .text {
      white-space: nowrap;
    }
  }
  .fa-pencil {
    padding-top: 3px;
  }
  .reserved {
    opacity: 0.7;
    font-size: 12px;
  }
}

.book i {
  padding: 2px 0 0 2px;
}

span, i {
  color: #FFF;
}

@media (max-width: 768px) {
  reservation-modal {
    position: absolute;
  }
  .room {
    text-align: center;
    min-height: auto;
    height: auto;
    span {
      display: none;
    }
  }
}
