$primary-color: #3ab791;
$text-color: #506a78;
$light-blue: #d1e7f2;
$input-color: #e1eef4;
$input-border: #9fa9ac;
$dark-grey: #506a78;
$background-color: #f9fbfc;
$light-text-color: lighten($text-color, 30);
$err-color: #e35050;
$light-border-color: #dbe7ed;
$line-color: #dbe7ed;
$icon-bg-color: lighten(#dbe7ed, 5);
$icon-border-color: darken(#dbe7ed, 0);
