@import 'mixins.scss';
@import '_variables.scss';
@import 'common/tooltip.scss';
@import 'common/icons.scss';

body {
  background: $background-color;
  font-family: 'fira-sans',sans-serif;
  color: $text-color;
  display: none;
  &.platform-core, &.platform-cordova, &.platform-mobile {
    display: block;
  }
  &.platform-core {
    position: relative;
    overflow: auto;
    ion-app {
      position: relative;
      overflow: auto;
    }
  }
}

button {
  overflow: hidden;
  position: relative;
}

a {
  cursor: pointer;
  transition: color 0.3s ease;
  color: $primary-color;
  &:hover {
    color: darken($primary-color, 10%);
    text-decoration: none;
  }
  &:active, &:visited, &:focus {
    color: $primary-color;
    text-decoration: none;
    outline: none;
  }
}

.animated {
  -webkit-animation-duration: 0.3s;
}

@include sprite('header a.logo:before, marketing-index .logo:before, .icon:before');
