@mixin sprite($selectors) {
  #{$selectors} {
    background-image: url(/images/sprites.png);
    background-size: 22px 35px;
  }
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-resolution: 240dpi) {
    #{$selectors} {
      background-image: url(/images/sprites@2x.png);
    }
  }
}

@mixin boxShadow() {
  box-shadow: (0 1px 2px rgba(187, 214, 216, 0.4), 0 1px 1px rgba(187, 214, 216, 0.9));
}

@mixin genericFormShadow() {
  box-shadow: (0 1px 2px rgba(187, 214, 216, 0.4), 0 1px 1px rgba(187, 214, 216, 0.9));
}

@mixin genericFormInputShadow($position: 1) {
  box-shadow: (0 0px 1px rgba(187, 214, 216, 0.4), 0 #{$position}px 1px rgba(187, 214, 216, 0.9));
}

@mixin popoverShadow() {
  box-shadow: (0 1px 2px rgba(80, 106, 120, 0.4), 0 1px 3px rgba(80, 106, 120, 0.4));
}

@mixin transform($type) {
  transform: $type;
}

@mixin dragShadow() {
  box-shadow: (0 1px 10px rgba(187, 214, 216, 0.8), 0 2px 2px rgba(187, 214, 216, 0.9));
}

@mixin modalBoxShadow() {
  box-shadow: (0 1px 8px rgba(128, 95, 70, 0.2), 0 2px 2px rgba(12, 95, 70, 0.3));
}

@mixin placeholderShadow() {
  box-shadow: (0 0px 2px rgba(203, 222, 232, 0.6), 0 1px 1px rgba(203, 222, 232, 0.9));
}

@mixin noShadow() {
  box-shadow: none;
}

@mixin fontAwesome() {
  font: normal normal normal 14px/1 FontAwesome;
}

@mixin baseInput() {
  @include boxShadow();
  border-radius: 2px;
  border: 1px $input-border solid;
  background: $input-color;
  color: $primary-color;
  font-weight: bold;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}

@mixin gradient() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,efefef+100 */
  background: #FFF; /* Old browsers */
  background: -moz-linear-gradient(top,  #FFF 20%, #f4f8f8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #FFF 20%,#f4f8f8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #FFF 20%,#f4f8f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#f4f8f8',GradientType=0 ); /* IE6-9 */
}

@mixin transition($type, $duration: 0.15s) {
  transition: $type $duration ease-out;
}

@mixin pulse() {
  animation: pulse 1s infinite;
}

@mixin pulseScale() {
  animation: pulseScale 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes pulseScale {
  0% {
    transform: scale(1);
    opacity: 0.8;

  }
  50% {
    transform: scale(0.6);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}
