@import '_variables';
@import 'mixins';

.wrapper {
  position: absolute;
}

.booking {
  @include modalBoxShadow();
  @include transition(all);
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 55px;
  background: $primary-color;
  color: #FFF;
  z-index: 2;
  padding: 8px 10px;
  border-radius: 2px;
  overflow: hidden;
  > * {
    @include transition(opacity);
    opacity: 0;
  }
  &.active {
    width: 236px;
    height: 180px;
    > * {
      opacity: 1;
    }
  }
  &.submitting {
    .buttons {
      @include pulse();
    }
  }
  .time {
    margin-top: 5px;
    background: darken($primary-color, 7);
    color: #FFF;
    padding: 5px 8px;
    border-radius: 2px;
  }
  .form {
    margin-top: 10px;
  }
  textarea {
    border-radius: 2px;
    border: none;
    display: block;
    outline: none;
    width: 100%;
    resize: none;
    color: $text-color;
  }
  .buttons {
    margin-top: 10px;
    text-align: right;
    a {
      margin-left: 4px;
      text-align: center;
      padding-top: 3px;
      background: #FFF;
      border-radius: 99px;
      display: inline-block;
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 600px) {
  .booking {
    margin: auto;
    position: relative;
  }
  .wrapper {
    width: 100% !important;
    left: 0 !important;
  }
}
