@keyframes pulse {
  0% {
    opacity: 0.6; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0.6; } }

@keyframes pulseScale {
  0% {
    transform: scale(1);
    opacity: 0.8; }
  50% {
    transform: scale(0.6);
    opacity: 0.2; }
  100% {
    transform: scale(1);
    opacity: 0.9; } }

header {
  border-bottom: 1px #e9f1f2 solid;
  background: #FFF;
  line-height: 40px;
  padding-top: 5px;
  padding-bottom: 9px; }
  header a.logo {
    color: #3ab791;
    font-size: 24px;
    font-weight: 600;
    padding-left: 30px; }
    header a.logo:before {
      content: '';
      width: 22px;
      height: 35px;
      position: absolute;
      left: 15px;
      top: 3px; }
  header a {
    transition: color 0.15s ease-out; }
  header .router-link-active {
    color: #a1b5c0; }
  header ul {
    margin-bottom: 0; }
  header li {
    padding-right: 20px; }
  header span {
    opacity: 0.6;
    font-weight: bold;
    padding-right: 10px; }
