@import '../_variables';
@import '../mixins';

.wrapper {
  min-height: 100px;
}

.design-tools {
  h1 {
    color: $primary-color;
    font-weight: 400;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 25px;
  }
  .fa {
    position: absolute;
    left: 10px;
    margin-top: 9px;
  }
  &.fixed {
    position: fixed;
    max-width: 200px;
    top: 0;
    z-index: 99;
    background: $background-color;
  }
}

// .ui-draggable-handle {
.room, .placeholder, .line {
  margin: 0 0 10px;
  a {
    @include transition(box-shadow);
    text-align: center;
    padding: 10px;
    display: block;
    border-radius: 2px;
    cursor: -webkit-grab;
    width: 164px;
    z-index: 3;
    &:active, &:focus {
      cursor: -webkit-grabbing;
      @include dragShadow();
    }
  }
}

.ui-draggable-dragging {
  @include dragShadow();
}

.room a {
  background: $primary-color;
  color: #FFF;
}

.placeholder a {
  background-color: lighten($light-text-color, 30);
  color: $light-text-color;
  border: 1px lighten($light-text-color, 20) solid;
}

.line {
  padding: 0;
  .bar {
    margin-top: 10px;
    height: 3px;
    width: 100%;
    background-color: $line-color;
  }
  .ui-draggable {
    width: 180px;
  }
  .ui-draggable-dragging {
    @include noShadow();
    .bar {
      @include dragShadow();
    }
  }
  a {
    // background-color: lighten($light-text-color, 30);
    color: $light-text-color;
    // @include dragShadow();
    &:active, &:focus {
      @include noShadow();
    }
  }
}

@media (max-width: 768px) {
  .design-tools {
    li:first-child {
      width: 100%;
    }
    h1 {
      font-size: 14px;
      padding-top: 5px;
      margin-bottom: 10px;
    }
    &.fixed {
      @include boxShadow();
      left: 0;
      padding-left: 15px;
      max-width: none;
      width: 100%;
    }
  }
}
