@import '../_variables';
@import '../mixins';

.design-mode {
  .ui-resizable:before {
    @include fontAwesome();
    content: '\f0b2';
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #FFF;
    font-size: 10px;
    z-index: 1;
  }
  placeholder {
    .ui-resizable:before {
      color: $light-text-color;
    }
  }
  line {
    .wrapper .rotate-icon {
      display: block;
    }
  }
}

room, placeholder, line {
  .ui-draggable-handle {
    cursor: -webkit-grab;
    .placeholder, .room, .line {
      @include transition(box-shadow);
    }
    &:active {
      cursor: -webkit-grabbing;
      .placeholder, .room {
        @include dragShadow();
      }
    }
  }
}
