@import '../_variables';
@import '../mixins';

.ui-slider {
  height: 7px;
  margin-top: 2px;
}

.ui-slider, .ui-slider-handle {
  @include baseInput();
  display: block;
}

.ui-slider-handle.ui-state-default  {
  background: $primary-color;
  border-color: $text-color;
  width: 15px;
  height: 15px;
  z-index: 0;
}
