@keyframes pulse {
  0% {
    opacity: 0.6; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0.6; } }

@keyframes pulseScale {
  0% {
    transform: scale(1);
    opacity: 0.8; }
  50% {
    transform: scale(0.6);
    opacity: 0.2; }
  100% {
    transform: scale(1);
    opacity: 0.9; } }

.wrapper.reserved:not(.reservation-modal-opened):hover .reservation-popover {
  opacity: 1;
  transform: scale(1) translateX(0) translateY(0); }

.reservation-popover {
  transition: all 0.1s ease-out;
  box-shadow: 0 1px 2px rgba(80, 106, 120, 0.4), 0 1px 3px rgba(80, 106, 120, 0.4);
  transform: scale(0) translateX(-70%) translateY(-50%);
  opacity: 0;
  background: #506a78;
  border-radius: 3px;
  width: 210px;
  z-index: 99;
  position: absolute;
  color: #d1e7f2; }
  .reservation-popover.cancelling {
    animation: pulse 1s infinite; }
  .reservation-popover i {
    opacity: 0.7; }
  .reservation-popover .controllers {
    margin-left: 22px; }
    .reservation-popover .controllers a {
      font-weight: bold;
      color: #FFF; }
  .reservation-popover .content {
    padding: 6px 9px; }
  .reservation-popover .column {
    display: inline-block;
    vertical-align: middle; }
  .reservation-popover .time {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -5px;
    line-height: 29px;
    width: 109px; }
    .reservation-popover .time span {
      letter-spacing: -0px; }
    .reservation-popover .time .colon {
      font-size: 14px;
      opacity: 0.7;
      vertical-align: top; }
  .reservation-popover .title {
    opacity: 0.7; }
  .reservation-popover .am-pm {
    font-size: 12px;
    opacity: 0.7; }
  .reservation-popover .fa {
    margin-right: 3px; }
  .reservation-popover .next-available {
    background: #3ab791;
    border-radius: 0 0 3px 3px;
    color: #FFF; }
  .reservation-popover .reserve-link {
    border-radius: 2px;
    background: #FFF;
    color: #3ab791;
    padding: 0px 4px;
    margin: 5px 0 6px;
    display: inline-block; }
